<h1 class="title">Our Books</h1>
<nav class="nav">
<a id="burger"><span></span></a>
</nav>
	<script type="text/javascript">
		var burger = document.getElementById('burger');
		burger.addEventListener('click', function() {
			burger.classList.toggle('active');
		});
	</script>