<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Horror Novels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../../partials/styles.ejs %>
</head>

<body>
  <h1 class="title">Search</h1>
  <% include ../../partials/header.ejs %>

  <section class="col-1">
    <div class="new-book-form">
      <form method="GET" action="/results">
        <input type="text" name="search" placeholder="Enter Title or Author" />
        <label><span>By Title</span><input type="radio" name="by" value="title" /></label>
        <label><span>By Author</span><input type="radio" name="by" value="author" /></label>
        <button type='submit'>Submit</button>
      </form>
    </div>
  </section>
  <% include ../../partials/footer.ejs %>
  <% include ../../partials/scripts.ejs %>
</body>

</html>