
<!DOCTYPE html>
<html>
<head>
    <title>Happy Halloween!</title>
    <!-- <% include ../partials/styles.ejs %> -->
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <% include ../partials/header.ejs %>
    <% books.forEach( book => { %>
        <div class="book-card">
            <img src="<%= book.image_url %>">
            <p class="title"><%= book.title %></p>
            <p class="author"><%= book.author %></p>
        </div>
    <% }); %>
</body>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
</html>
