
<!DOCTYPE html>
<html>
<head>
    <title>Happy Halloween!</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>Our Books</h1>
<ul>
    <% items.forEach( item => { %>
        <li><a href="/<%= item.books %>"><%= item.books %></a></li>
    <% }); %>
</ul>
</body>
</html>