
<!DOCTYPE html>
<html>
<head>
    <title>Happy Halloween!</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>Our Books</h1>
<ul>
    <% books.forEach( item => { %>
        <li><a href="/<%= item.title %>"><%= item.title %></a></li>
    <% }); %>
</ul>
</body>
</html>