<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Horror Novels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/styles.ejs %>
</head>

<body>
  <h1 class="title">Success!</h1>
  <% include ../partials/header.ejs %>

  <section class="col-1">
    <div class="new-book-form">
    </div>
    <a class="success" href="/">Click here to go back home</a>
  </section>
  <% include ../partials/scripts.ejs %>
</body>

</html>