body {
  background-color: #e9e7ef;
  color: rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 700;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: white;
}
a.nav-links {
  background-color: #05090a;
}

a.success {
  color: #05090a;
}

input {
  display: block;
  margin-bottom: 15px;
}
