/* site title, menu */

.site-title {
  background-color: #142e33;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  padding: .5em;
  overflow: hidden;
}

.site-title h1 {
  float: left;
}

nav {
  float: right;
}

.icon-menu.navigation {
  color: white;
  text-decoration: none;
}

/* page title */

.page-title {
  background-color: #656171;
  color: white;
  font-size: 1.2em;
  padding: .5em;
  text-align: center;
}

/* book cards */

.book-card {
  background: rgba(255, 255, 255, .5);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  padding: 1em;
  margin: 1em 0;
  text-align: center;
}

.book-card img {
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
  width: 200px;
}

.book-card h1,
.book-card p {
  margin: .5em 0;
}

.book-card h1 {
  color: #53264A;
  font-size: 1.2em;
  font-weight: bold;
}

.book-card .author {
  font-style: italic;
}

.book-card .button {
  background-color: #53264A;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
  color: white;
  display: block;
  margin: 1em auto;
  padding: 1em 1.5em;
  text-decoration: none;
  width: fit-content;
}

.book-card .button:hover {
  background-color: #142e33;
}

.book_description {
  background: rgba(255, 255, 255, .2);
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 2em;
  padding: 2em;
}

.book_description p {
  line-height: 1.5;
  text-align: justify;
}

.isbn {
  font-size: .8em;
  font-style: italic;
}